body { background: #F5B190;}

.bordo {color: #821414;}
.chocolate {color: #300601;}
h1 {
  font-family: 'Cooper Black', serif;
  color: #A10000;font-size: xxlarge; text-decoration: underline;text-align: center; /* centro */
}
h2 { font-size: xx-large;text-decoration: underline;}
h3 { font-size: x-large;text-decoration: underline;}
p   {font-size:large;}
ol  {font-size: large;}
ul  {font-size: large;}
.imagen-especifica {
  width: 640px;
  height: 480px;
}
